{% load bootstrap4 %}

{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>My Gallery - {{title}}</title>
  {% else %}
  <title> My Gallery</title>
  {% endif %}
  
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
  {% endblock %}

</head>

<body>
  {% include "navbar.html" %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h2>Categories</h2>
        {% for category in categories %}
            <a style="text-align: center; padding: 5px;" href="/category/{{category.name}}/">{{category.name}}</a>  
        {% endfor%}
      </div>

      <div class="col-md-6">
      <h2>Locations</h2>
      {% for location in locations%}
      <a href="/location/{{location.name}}">{{location.name}}</a>
      {% endfor %}
      </div>
    </div>
  </div>
      
     <br>
      
 <div class="container">
  {% block content %}

  {%endblock%}
 </div>
  {% include "footer.html" %}
    <!-- script -->
  {% bootstrap_javascript jquery='full' %}
  {% block scripts %}
  {% endblock %}
</body>

</html>