{% extends 'base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
{{ block.super }}

<div class="row">
  {% if images %}{% for image in images %}
  <div class="col-md-3 col-sm-4 p-0 ">
    <div class="card-columns" style="padding: 1%; border-radius: 10px;height: fit-content;">
      <img data-toggle="modal" data-target="#exampleModal{{image.id}}" src="{{image.image.url}}" alt="{{image.name}}" style="object-fit:cover;height: 29vh;border-radius: 3%; margin-bottom: 0;" id="img_poster">
    </div>
    
    <div class="modal" tabindex="-1" role="dialog" id="exampleModal{{image.id}}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>{{image.name}}</h3>
            <img src="{{image.image.url}}" alt="{{image.name}}" />
            <p>Description: {{image.description}}</p>
            <p>Category: {{image.category}}</p>
            <p> Location: {{image.location}}</p>
            <p> Date: {{image.posted_date}}</p>
            <p>
              Photo Url:<input type="text" value="{{image.image.url}}" class="btn btn-success form-control photoUrl" />
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock%}