{% extends 'base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
{{ block.super }}

    {% for image in images %}
    <a href=""></a>
    <img src="{{image.image.url}}" alt="image.name">
    <h3>{{image.name}}</h3>
    <p>{{image.category}}</p>
    <p>{{image.location}}</p>
    <p>{{image.description}}</p>
    <p>{{image.posted_date}}</p>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>hello there</h2>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
