{% extends 'base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
{{ block.super }}

   
<div class="row">
  {%for image in images %}
  <div class="col-md-3 col-sm-4 p-0 m-4">
    <div class="card-columns" style="padding: 1%; border-radius: 10px;height: fit-content;">
      <img data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}" src="{{image.image.url}}" alt="{{image.name}}" style="object-fit:cover;height: 29vh;border-radius: 3%; margin-bottom: 0;" id="img_poster">
    </div>
    <div class="modal-dialog modal-dialog-centered rounded-3">
      <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="font-size:large; font-weight:bold;font-family:'Yrsa', serif;color: #115512;">{{image.name}}</h5>
              <button style="font-weight: 500;font-size: x-large;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</i></button>
            </div>
            <div class="modal-body">
              <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid" style="object-fit:cover;text-align: center; width:70vh;height: 58vh;border-radius: 3%;"><br>
              <p class="text-center img_description" style="line-height: 90%; font-size: small;font-weight: 400;font-family: 'Yrsa', serif; ">{{image.description}}</p><br>
            </div>
            <div class=" modal-footer " style="line-height: 50%;">
              <div class="div" style="color:#EBAD99;font-family:'Yrsa', serif;font-size:small;line-height:0.6;">
                <span> Category: </span><span class="btn btn-sm btn-outline-success rounded-pill">{{image.category}}</span>
                <span> Location: </span><span class="btn btn-sm btn-outline-success rounded-pill">{{image.location}}</span>
              </div>
              <input class="form-control input-lg bg-light " type="text" style=" line-height: 50%;font-size:small; " value="{{image.image.url}} " id="{{image.id}}.url ">
              <h6 style="color:#115512;font-family:'Yrsa', serif;font-size:small;">Copy the image above to share </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock %}
