{% extends 'base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
{{ block.super }}

<div class="row">
  {% if images %} 
  {% for image in images %}
  <div class="col-md-2 col-sm-4 p-0 ">
    <div class="card-columns" style="padding: 1%; border-radius: 10px;height: fit-content;">
      <img data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}" src="{{image.image.url}}" alt="{{image.name}}" style="object-fit:cover;" id="img_poster">
    </div>
    </div>
  </div>
  {%endfor%} {% endif %}
{% endblock %}

