{%extends 'base.html'%} 

{% block content %} 

{{block.super}}

<div class="row">
  {% if images %}
  <h2>Found {{ images|length }} of searched {{message}} category</h2>
  {% else %}
  <h2> Found 0 images for the searched {{message}} category</h2>
  {% endif %}
</div>
<div class="row">
  {% if images %}
  {%for image in images%}
  <div class="col-md-2 col-sm-4 p-0 ">
    <div class="card-columns" style="padding: 1%; border-radius: 10px;height: fit-content;">
      <img data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}" src="{{image.image.url}}" alt="{{image.name}}" style="object-fit:cover;" id="img_poster">
    </div>
    
  {%endfor%} {% endif %}
</div>{% endblock %}